<html>
    <head>
        <title>testing cloudinary</title>
    </head>
    <h1>lets place ur vehicle on auction </h1>
    <form>
        <label for="type">vehicle type</label>

        <input name="type" id="type" placeholder="e.g truck,car,bus..." type="text" /> 
        <label for="model">vehicle model</label>
        <input name="model" id="model" type="text" /> 
        <label for="brand"  >vehicle brand</label>
        <input name="brand" id="brand" type="text" placeholder="e.g volks, audi, toyota..." /> 
        <label for="color"  >Color</label>
        <input name="color" id="color" placeholder="e.g red, blue, light-cyan..." type="text" /> 
        <label for="miles">Miles</label>
        <input name="miles" id="miles" type="text" placeholder="miles on your vehicle e.g 2000km, input 0km if new" /> 
        <label for="image"  > please attach a clear image of vehicle *</label>
        <label for="moreInfo"  ></label>
        <textarea name="moreInfo" id="moreInfo" rows="4" cols="50" type="text" placeholder="tell us more about your vehicle"></textarea>
        <input name="image" id="image" type="file"/> <br>
        <button>Submit</button>
        
    </form>
    <body>
        <script>
           let type = document.getElementById("type");
           let model = document.getElementById("model");
           let brand = document.getElementById("brand");
           let color = document.getElementById("color");
           let miles = document.getElementById("miles");
           let image = document.getElementById("image");
           let moreInfo = document.getElementById("moreInfo");

           const CLOUDINARY_NAME = "lahri";
           const CLOUDINARY_URL= `https://api/cloudinary.com/v1_1/${CLOUDINARY_NAME}/upload`;
           //storin text values

           const textFields = {};
           const imageFile = {};

           document.querySelector("form").addEventListener("change",(e)=>{
            if(e.target.type == "file"){
                imageFile[e.target.name] = e.target.files[0];
                return imageFile;
            }else{
              textFields[e.target.name] = e.target.value;
              return textFields;
            }
           });

           document.querySelector("form").addEventListener("change",()=>{

            
           })



            </script>
     
    </body>
</html>